:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  font-size: 62.5%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  position: absolute;
  width: 60rem;
  height: 40rem;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 2rem 2rem 10rem 2rem;
  background-color: #fff;
}

.container-form {
  border-bottom: 0.1rem solid black;
}

form {
  display: flex;
  gap: 1rem;
}

.grup {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.grup p {
  letter-spacing: 0.2rem;
}

.grup input {
  width: 10rem;
  height: 5rem;
  margin-top: 0.7rem;
  padding-left: 0.6rem;
  font-size: 3rem;
  font-weight: 700;
  border: 0.1rem solid gray;
  border-radius: 1rem;
}

.label {
  color: red;
}

.error {
  border: 0.1rem solid red !important;
}

.errorMessage {
  margin-top: 0.6rem;
  font-size: 1rem;
  color: red;
}

.button-submit {
  position: relative;
  top: 8rem;
  left: 15rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--Purple);
  border: none;
  border-radius: 50%;
}

.button-submit__image {
  width: 3rem;
}

.container-results {
  margin-top: 2rem;
}

.result {
  font-size: 6rem;
  color: var(--Purple);
}

.container-results h2 {
  font-size: 5rem;
}
