:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  font-size: 62.5%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  position: absolute;
  width: 60rem;
  height: 40rem;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 2rem 2rem 10rem 2rem;
  background-color: #fff;
}

.container-form {
  border-bottom: 0.1rem solid black;
}

form {
  display: flex;
  gap: 1rem;
}

.grup {
  margin-bottom: 3rem;
}

.grup input {
  width: 10rem;
  height: 3rem;
  font-size: 3rem;
  border-radius: 1rem;
}

.card div h2 {
  font-size: 3.2rem;
}

.button-submit {
  position: relative;
  top: 5rem;
  left: 15rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--Purple);
  border-radius: 50%;
}

.button-submit__image {
  width: 3rem;
}
.result {
  color: var(--Purple);
}

.error {
  border: 1px solid red;
}

.container-results {
  margin-top: 4rem;
}
